#message-container {
  margin: 0 auto;
  width: 500px;
  height: 86.9vh;
  display: flex;
  padding: 16px;
  flex-direction: column-reverse;
  background-color: #17202A;
  overflow-y: scroll;
}

#message-container::-webkit-scrollbar {
  width: 8px;
}

#message-container::-webkit-scrollbar-thumb {
  background: #2C3E50;
}

.message {
  margin: 1px;
}

.message .text {
  background-color: #2C3E50;
  max-width: 300px;
  padding: 12px;
  float: left;
  color: #FDFEFE;
  border-radius: 16px;
  font-size: 16px;
  word-wrap: break-word;
}

.message.self .text {
  background-color: #566573;
  float: right;
}

.message.self .sender {
  display: none;
}

.message.self .sender + br {
  display: none;
}

.message.error {
  color: #777777;
  font-style: italic;
}

.message .time {
  color: #666666;
  font-size: 8pt;
  float: left;
}

.message .sender {
  font-size: 12px;
  margin-left: 6px;
  cursor: pointer;
  color: #ABB2B9;
  float: left;
}

#message-send {
  position: fixed;
  bottom: 0;
  left: 50%;
  height: 5vh;
  transform: translateX(-50%);
  width: 500px;
  padding: 16px;
  background-color: #17202A;
  margin: 0 auto;
  text-align: center;
}

#message-send input {
  border: none;
  outline: none;
  color: #ABB2B9;
  background-color: #17202A;
  font-size: 16px;
  width: 80%;
}

#reset-keys:hover {
  background-color: #ffaaaa;
}

.input-container {
  border: 1px solid #ABB2B9;
  border-radius: 16px;
  padding: 12px;
}

.input-container button {
  width: 10%;
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
  color: #2E86C1;
  font-weight: bold;
}