#message-container {
  margin: 0 auto;
  width: 500px;
  height: 100%;
  transform: translateY(-80px);
  display: flex;
  padding-bottom: 80px;
  flex-direction: column-reverse;
  overflow-y: scroll;
}

#message-container::-webkit-scrollbar {
  width: 8px;
  
}

#message-container::-webkit-scrollbar-thumb {
  background: #2C3E50;
}

.message {
  margin: 2px;
}

.message .text {
  background-color: #2C3E50;
  max-width: 300px;
  padding: 12px;
  color: #FDFEFE;
  border-radius: 16px;
  font-size: 16px;
  word-wrap: break-word;
  float: left;
}

.message.self .text {
  background-color: #566573;
  float: right;
}

.message.self .time {
  color: #ABB2B9
}

.message .sender{
  display: none;
}

.message.self .sender {
  display: none !important;
}

.message.show-name .sender {
  display: block;
}

.message.error {
  color: #777777;
  font-style: italic;
}

.message .time {
  color: #888888;
  font-size: 8pt;
  float: left;
}

.message .sender {
  font-size: 12px;
  margin-left: 6px;
  cursor: pointer;
  color: #ABB2B9;
  margin: 4px 0 0 4px;
}

#message-send {
  position: fixed;
  bottom: 16px;
  height: 48px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  background-color: #17202A;
  margin: auto;
  text-align: center;
}

#message-send input {
  border: none;
  outline: none;
  color: #ABB2B9;
  font-size: 16px;
  width: 80%;
  background-color: #17202A;

}

#reset-keys:hover {
  background-color: #ffaaaa;
}

.input-container {
  border: 1px solid #ABB2B9;
  border-radius: 16px;
  padding: 12px;
}

.input-container button {
  width: 10%;
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
  color: #2E86C1;
  font-weight: bold;
}